button {
    width: 200px;
    height: 70px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 50px;
}

.nous_connaitre {
    margin: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.gestionnaire {
    display: flex;
    justify-content: center;
}


.dropdown_histoire, .dropdown_mission, .dropdown_valeur {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.dropdown_histoire.show, .dropdown_mission.show, .dropdown_valeur.show {
    display: flex;
    align-items: center;  
}

.histoire {
    margin: 20px;
}

.valeur {
    margin: 20px;
}

.mission {
    margin: 20px;
}

.box_histoire, .box_valeur, .box_mission  {
    display: flex;
    flex-direction: column;
}

.bouton_histoire, .bouton_mission, .bouton_valeur {
    display: flex;
    justify-content: center;
}



