
body{
    background-image: url('images/fond.jpg');
    cursor:none;
}

nav {
    color: white;
	display: flex;
	flex-wrap:wrap;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: sticky;
    border-bottom: grey 1px solid;
}

nav .profile img {
    width: 250px;
    height: 93px;
    border-radius: 50%;
}

ul {
    display: flex;
    list-style-type: none;
}

li{
    margin-left: 20px;
    border-bottom: 1px solid white;
}

li:hover{
    border-bottom-color: red;
}

section {
    margin: 4%;

}

.bouton {
    border: none;
    outline: none;
    padding: 0%;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: none;
    margin-right: 15px;
}

.bouton :hover{
    border-bottom-color:black ;
}

header{
    color: white;
}
header h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 40px;
}
header div{
    font-size: 20px;
    line-height: 150%;
}